<h1> <%= @theatre.name %> is now playing </h1>  

<% if @movies.length > 0 %> 
  <ul>
    <% @movies.each do |movie|%> 
      <li><a href="/movies/<%= movie.id %>"><%= movie.title %> </a></li>
    <% end %>
  </ul>
<% end %>      


