<h1> Here are all of your favorites </h1> 

# <% if @favorites.length > 0 %> 
#   <ul>
#     <% @favorites.each do |movie|%> 
#       <li><%= movie.title %></li>
#     <% end %>
#   </ul>
# <% end %>      
     


