
<h1>Sign Up Below:</h  



<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>  


<h1> Sign Up </h1> 

<form action="/users" method="POST"> 
    <div>     
        <label for="email">Email:</label> 
        <input type="email" name="email" id="email" /> 
    </div>  

    <div> <label for="username">Username:</label> 
    
    <input type="text" name="username" id="username" /> 
    
    </div>
    
    <div>     
        <label for="password">Password:</label> 
        <input type="password" name="password" id="password" /> 
    </div>  

    <input type="submit" /> 

</form> 





