
<h1>Welcome Movie Lovers!:</h 

<form action="/welcome" method="POST"> 

<p> 
<label for="Search Theater">Search By Theater:</label> 
<input type="text" name="theater" id="theater" />  
<p> 


<p> 
<label for="Search Movie">Search By Movie:</label> 
<input type="text" name="movie" id="movie" /> 
<p> 


<a href="/sessions/logout">Log Out</a>  

</form>  