
<h1>Welcome Movie Lovers!:</h1>

<form action="/results" method="POST"> 

<div> 
<label for="Search Theater">Search By Theater:</label> 
<input type="text" name="theater" id="theater" />  
</div> 

<div> 
<label for="Search Movie">Search By Movie:</label> 
<input type="text" name="movie" id="movie" /> 
</div> 

<input type="submit" />   


<div> 
<a href="/movies/new">Create A Movie</a> 
</div> 


<div> 
<a href="/users/favorites"> Your Favorites</a>
</div> 





</form>   





<a href="/logout">Log Out</a> 