
<h1>Welcome Movie Lovers!:</h1>

<form action="/search" method="GET"> 

<div> 
<label for="Search Theater">Search By Theater:</label> 
<input type="text" name="theater" id="theater" />  
</div> 

<div> 
<label for="Search Movie">Search By Movie:</label> 
<input type="text" name="movie" id="movie" /> 
</div> 

<input type="submit" />

</form>

<a href="/logout">Log Out</a> 